[2017-09-14 02:41] testforstephen opened #21 "Failed to resolve classpath: Main class 'Main' isn't unique in the workspace"
Open a java folder, see the screenshot below.
<img width="369" alt="screen shot 2017-09-14 at 10 30 31 am" src="https://user-images.githubusercontent.com/14052197/30409470-cd01ab12-9937-11e7-8b1f-f9e2622dfa2e.png">

And click F5 to launch, it popup a message box saying that `Failed to resolve classpath: Main class 'Main' isn't unique in the workspace, please pass in specified projectname.`.

Appar

[2017-09-14 04:14] testforstephen opened #22 "step into the constructor method and always go to ClassLoader.java"
Download the test project from https://github.com/vscjavaci/java-debug-ci/tree/master/testcase/8.nosource, and open it in vscode.

Set a breakpoint at line#3 of NoSourceTest.java, and click F5 to launch debug session.
Step into the constructor method, it always jumps to ClassLoader$loadClass in call stack.

Is there any way to filter the loadClass method?

[2017-09-14 05:34] Eskibear opened #23 "cannot setExceptionBreakpoints"
It can reproduce in the bugbash version.

Steps:
1. Open your java project, write a piece of code with uncaught exceptions.
2. Check `Uncaught exceptions` on the bottom-left part in debug panel.
3. Make sure there's NO any other breakpoint.

[2017-09-14 06:42] yaohaizh opened #24 "Cannot set the breakpoint for file from included path when restart debug session"
Project: https://github.com/fbricon/vscode-java-demo
System: Ubuntu

1. Git clone the project
2. Open with VSCode and wait for the project initialized with language server
3. Config launch.json
4. Start debugging

Issue:
1. Debug into SpringApplication which is not part of the workspace but in the included path
2. Set a breakpoint on the SprintApplication
3. Restart debug session.

Cannot set the

[2017-09-18 03:10] #23 closed, assigned to Eskibear

[2017-09-19 08:25] andxu opened #31 "Should avoid to use SearchEngine in jdt which is not compatible with project settings."
SearchEngine will resolve classes that is not in current project among workspace which makes the source mapping not compatible with project settings.

[2017-09-19 08:32] andxu opened #32 "Bad log for startup scripts."
Trying to launch Java Program with options "-Dfile.encoding=UTF-8 -cp [Ljava.lang.String;@5090d8bb
LuceneTest " .

[2017-09-19 09:33] andxu opened #33 "error on continue request: Got IOException from Virtual Machine"
The overall log is :

{"type":"request","seq":1,"command":"launch","arguments":{"cwd":"/var/lib/jenkins/workspace/vscode-java-debug-vsix-test/ci/testcase/7.variableperformance","mainClass":"VariablePerfTest","classPaths":["/var/lib/jenkins/workspace/vscode-java-debug-vsix-test/ci/testcase/7.variableperformance/bin"],"sourcePaths":["/var/lib/jenkins/workspace/vscode-java-debug-vsix-test/ci/testcase

[2017-09-20 08:13] andxu opened #39 "Very slow when debugging idea"

[2017-09-21 00:22] andxu opened #41 "lambda expression doesn't apply to the right java file."
Step: use debugger to debug itself, step in computeIfAbsent in StackTraceRequestHandler.java@112

![image](https://user-images.githubusercontent.com/17075863/30673467-e8f0682c-9ea5-11e7-9326-287ae42fb4fc.png)

[2017-09-21 01:38] andxu opened #43 "Include class name in stack frame"
Currently only the method is displayed:

![image](https://user-images.githubusercontent.com/17075863/30675009-8cdcd880-9eb0-11e7-9a41-7c004f6a209e.png)

see eclipse:
![image](https://user-images.githubusercontent.com/17075863/30675017-990c78b8-9eb0-11e7-9f96-b14c329a9a70.png)

[2017-09-21 03:03] akaroml opened #44 "Support "stopOnEntry" in launch.json"
By having this option, users won't need to explicitly set a breakpoint on the project. Debug session will stop right after launch.

[2017-09-21 03:07] #44 closed, assigned to nobody

[2017-09-25 10:25] andxu opened #49 "Perf issue on get locations of breakpoint"
![image](https://user-images.githubusercontent.com/17075863/30804144-e53ef6e0-a21e-11e7-8246-d5b6a27608a8.png)

[2017-09-27 03:15] #32 closed, assigned to andxu

[2017-09-27 13:09] fbricon opened #50 "Separate debugger protocol binding classes from the java debugger implementation"
Java bindings for VSCode debugger protocol should be made available standalone, so that other debuggers of the VS Code protocol can be implemented in Java.

See https://twitter.com/mickaelistria/status/913026200364371968

[2017-09-28 00:34] andxu opened #51 "[NPE] on debug"
| common.vscodeversion | 1.16.1
  | common.extversion | 0.1.0
  | common.osversion | 16.7.0
  | common.extname | vscode-java-debug
  | common.os | darwin
  | description | DebugSession dispatch exception: java.lang.NullPointerException
  | scope | exception
  | deubgSessionId | 7c0051c7-c171-4928-babb-461d27f88540

java.lang.NullPointerException at com.microsoft.java.debug.core.adapter.handler.Set

[2017-09-28 00:37] andxu opened #52 "[VMDisconnectedException]Got IOException from Virtual Machine on setting breakpoint."
![image](https://user-images.githubusercontent.com/17075863/30944102-3e23da72-a428-11e7-8cee-6d91941e0550.png)

com.sun.jdi.VMDisconnectedException: Got IOException from Virtual Machine at org.eclipse.jdi.internal.connect.PacketReceiveManager.getReply(PacketReceiveManager.java:186) at org.eclipse.jdi.internal.connect.PacketReceiveManager.getReply(PacketReceiveManager.java:204) at org.eclipse.jdi.i

[2017-09-28 00:40] andxu opened #53 "[VMDisconnectedException]Got IOException from Virtual Machine on ConfigurationDone request"
![image](https://user-images.githubusercontent.com/17075863/30944161-9c05dfb4-a428-11e7-87c3-821a117e654c.png)

com.sun.jdi.VMDisconnectedException: Got IOException from Virtual Machine at org.eclipse.jdi.internal.connect.PacketSendManager.sendPacket(PacketSendManager.java:90) at org.eclipse.jdi.internal.MirrorImpl.requestVM(MirrorImpl.java:187) at org.eclipse.jdi.internal.MirrorImpl.requestVM(Mir

[2017-09-28 00:42] andxu opened #54 "Main class 'main' isn't unique in the workspace, please pass in specified projectname."
![image](https://user-images.githubusercontent.com/17075863/30944227-0312e490-a429-11e7-8947-f82f734fd0de.png)

[{"declaringClass":"com.microsoft.java.debug.plugin.internal.ResolveClasspathsHandler","methodName":"computeClassPath","fileName":"ResolveClasspathsHandler.java","lineNumber":136},{"declaringClass":"com.microsoft.java.debug.plugin.internal.ResolveClasspathsHandler","methodName":"resolveC

[2017-09-28 00:43] andxu opened #55 "Main class 'Test' doesn't exist in the workspace."
Stack trace.

[{"declaringClass":"com.microsoft.java.debug.plugin.internal.ResolveClasspathsHandler","methodName":"computeClassPath","fileName":"ResolveClasspathsHandler.java","lineNumber":132},{"declaringClass":"com.microsoft.java.debug.plugin.internal.ResolveClasspathsHandler","methodName":"resolveClasspaths","fileName":"ResolveClasspathsHandler.java","lineNumber":50},{"declaringClass":"com.micr

[2017-09-29 01:28] andxu opened #57 "Some breakpoint cannot be hit."
![image](https://user-images.githubusercontent.com/17075863/30997166-86bdebb2-a4f8-11e7-8fc8-cdb9a4abcfb4.png)

[2017-09-29 03:43] #54 closed, assigned to ansyral

[2017-09-29 06:40] andxu opened #59 "AttachRequestHandler should record error of attach failures."
AttachRequestHandler.java
 try {
            logger.info(String.format("Trying to attach to remote debuggee VM %s:%d .",
                    attachArguments.hostName, attachArguments.port));
            IDebugSession debugSession = DebugUtility.attach(vmProvider.getVirtualMachineManager(),
                    attachArguments.hostName, attachArguments.port, attachArguments.timeout);
            con

[2017-09-29 06:53] #39 closed, assigned to nobody

[2017-09-29 07:01] andxu opened #61 "Log improvement"
1. jdi event
2.vscode request/timestamp when uncaught error happens.

[2017-10-09 06:24] #51 closed, assigned to testforstephen

[2017-10-09 08:57] #61 closed, assigned to Eskibear

[2017-10-09 10:47] andxu opened #69 "should add debugger version in trace"

[2017-10-11 01:13] #52 closed, assigned to Eskibear, andxu

[2017-10-11 10:26] andxu commented on #69
vscode has already record it as : common.extversion

[2017-10-11 10:26] #69 closed

[2017-10-12 06:41] ansyral commented on #21
couldn't repro it yet because currently our debugger doesn't support single file debug without configuration. I'll test it after we [update our debugger with new debug protocol](https://github.com/Microsoft/vscode-java-debug/pull/87) and support single file debug following https://github.com/Microsoft/vscode/issues/33791#issuecomment-335248840

[2017-10-12 06:55] testforstephen commented on #24
fixed.

[2017-10-12 06:55] #24 closed

[2017-10-13 02:48] testforstephen commented on #41
The lambda expression issue has been resolved. As to the improvement of method names in call stack view is duplicated with https://github.com/Microsoft/java-debug/issues/43

[2017-10-13 03:04] #41 closed

[2017-10-13 07:12] testforstephen commented on #43
The code has merged to master branch.

[2017-10-13 07:12] #43 closed

[2017-10-13 09:27] ansyral commented on #21
could repro for projects that has main class whose package is default

[2017-10-15 15:28] smarter opened #77 "Publish com.microsoft.java.debug.core to a maven repository"
I'm currently working on a debug server implementation for Scala based on java-debug, it'd be really helpful if you could publish the `com.microsoft.java.debug.core` package to a repository online such as http://central.sonatype.org/, that way I could depend on it in my own project easily.

[2017-10-16 05:11] akaroml commented on #77
@testforstephen please take a look and publish to Maven central repository. We'll need to sign the jars before publishing.

[2017-10-16 07:09] akaroml opened #79 "Hot code replacement"

[2017-10-16 07:10] akaroml opened #80 "Expression evaluation"

[2017-10-20 07:46] andxu opened #85 "Distinguish user errors from system errors in logs"

[2017-10-23 02:24] testforstephen opened #86 "Implement our own launching connector"
The jdi connector implementation in org.eclipse.jdt.debug-4.8, the connector arguments names are not compatible with the arguments in org.eclipse.jdt.debug-3.11.

In order to avoid future feature break, we need implement our own launching connector.

[2017-10-23 06:11] testforstephen commented on #86
canceled.

[2017-10-23 06:11] #86 closed

[2017-10-23 13:22] ariel-bentu opened #87 "Wrong classpath separator for mac/linux"
In LaunchRequestHandler.java, you use semicolon as the separator. In linux/mac it should be colon

[2017-10-25 02:51] #49 closed

[2017-11-01 02:24] testforstephen commented on #87
fixed with PR https://github.com/Microsoft/java-debug/pull/89

[2017-11-01 02:24] #87 closed

[2017-11-01 02:39] testforstephen commented on #31
duplicate with https://github.com/Microsoft/vscode-java-debug/issues/121, will discuss the issue there.

[2017-11-01 02:39] #31 closed

[2017-11-10 01:39] andxu opened #98 "java.util.ConcurrentModificationException in toGson"
!ENTRY java-debug 4 0 2017-11-10 09:31:50.091
!MESSAGE Dispatch debug protocol error: java.util.ConcurrentModificationException
!STACK 0
java.util.ConcurrentModificationException
	at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:901)
	at java.util.ArrayList$Itr.next(ArrayList.java:851)
	at com.google.gson.internal.bind.CollectionTypeAdapterFactory$Adapter.write(CollectionTypeAdapte

[2017-11-13 17:35] gorkem opened #100 "SourceLookup fails for dependencies"
Setting a breakpoint to a file from a dependency fails on source lookup.

In my gradle  project I have dependency to ` compile group: 'xerces', name: 'xercesImpl', version:'2.11.0` and I am trying to set a breakpoint on 'org.apache.xerces.parsers.DomParser.parse()' which is located on this dependency. I can browse to the file through vscode and see the code but when I try to set the breakpoint it

[2017-11-13 20:21] snjeza opened #101 "Invalid plugin ID"
com.microsoft.java.debug.plugin has a different plugin id in https://github.com/Microsoft/java-debug/blob/master/com.microsoft.java.debug.plugin/src/main/java/com/microsoft/java/debug/plugin/internal/JavaDebuggerServerPlugin.java#L25 and https://github.com/Microsoft/java-debug/blob/master/com.microsoft.java.debug.plugin/META-INF/MANIFEST.MF#L4

[2017-11-14 03:02] fbricon opened #105 "Use client agnostic command names"
From https://github.com/eclipse/eclipse.jdt.ls/pull/424#issuecomment-344130840, I noticed the debugger exposes vscode* commands on the server side.

[code]
It'd be better if the names were client agnostic.

[2017-11-17 03:33] #101 closed

[2017-11-17 03:57] akaroml commented on #100
@testforstephen please take a look.

[2017-11-17 16:37] shiuchunming opened #109 "Error: "Failed to evaluate. Reason: Cannot evaluate because the thread is resumed""
Get error message "Failed to evaluate. Reason: Cannot evaluate because the thread is resumed" after getting input from vscode debug console using BufferedReader in Java.

    import java.io.BufferedReader;
    import java.io.IOException;
    import java.io.InputStreamReader;

    public class demo {
        public static void main(String args[]) throws IOException {
            int input;

[2017-11-20 08:11] testforstephen commented on #100
cannot reproduce.

i tried gradle dependencies by debugging a sample gradle project https://github.com/gradle/gradle-build-scan-quickstart, i can set breakpoint at the source code from third party jar `com.google.guava:guava`.

Here are some additional details about how does the debugger set breakpoint at third-party jars.
1. when set breakpoint in third-party jar, the client will send jdt schema

[2017-11-24 14:58] pmlopes opened #117 "cannot debug nashorn scripts"
IntelliJ and Netbeans (as an example) can debug javascript scripts running on the JVM as the Nashorn engine seems to generate the proper debug information at runtime when the scripts are compiled.

An example project can be seen in the netbeans project:

http://services.netbeans.org/synergy/server/api/attachment.php?id=197

I've tried to see if this plugin would also allow it, but sadly the breakp

[2017-11-28 00:29] andxu commented on #109
Hi shiuchunming, for the evaluation feature, it is required to be performed against a stopped(caused by pause) thread, if you continue the breakpoint, the evaluation functionality will be disabled, and your express will show " Cannot evaluate because the thread is resumed", if you are stopped at certain line of the code, it should be a bug when you cannot evaluate, so please tell me whether your c

[2017-11-28 00:30] andxu commented on #105
we will change the command name

[2017-11-28 11:20] rotemso opened #120 "Only one step request allowed per thread error"
When putting a breakpoint in some java file calling a constructor, and also putting a breakpoint inside the constructor (which is in another java file):
first step over - succeeded and we get 'stopped' event of reason 'breakpoint' as expected as it hit the breakpoint before completing the step operation (stack trace points to the breakpoint location inside the constructor).

With that, a second st

[2017-11-29 13:28] testforstephen commented on #120
Need clean up stale step request when a breakpoint event occurs during stepping over.

[2017-12-01 18:46] #98 closed

[2017-12-01 18:46] andxu commented on #98
The code is checked in

[2017-12-01 18:47] andxu commented on #80
https://github.com/Microsoft/java-debug/pull/116

[2017-12-01 18:47] andxu commented on #53
https://github.com/Microsoft/java-debug/pull/104

[2017-12-01 18:48] andxu commented on #33
https://github.com/Microsoft/java-debug/pull/104

[2017-12-05 05:37] yaohaizh commented on #117
Duplicated with https://github.com/Microsoft/vscode-java-debug/issues/152

[2017-12-05 05:37] #117 closed

[2017-12-05 05:38] #33 closed

[2017-12-05 05:42] #53 closed

[2017-12-07 02:53] andxu commented on #22
Step filter feature will solve this issue on version 0.5.0

[2017-12-07 02:53] #22 closed

[2017-12-07 03:13] andxu commented on #55
I will mark this exception as user error.

[2017-12-07 03:19] andxu commented on #109
It is by design that eval work can be only done at a the suspend JVM thread(caused by breakpoint/step)

[2017-12-07 03:19] #109 closed

[2017-12-07 03:21] andxu commented on #59
Done with the PR

[2017-12-07 03:21] #59 closed

[2017-12-07 03:22] andxu commented on #80
We are on the progress of reviewing evaluation code.

[2017-12-07 03:23] andxu commented on #85
Will include in the next release 0.5,0.

[2017-12-08 01:35] testforstephen commented on #120
This bug should be fixed at PR https://github.com/Microsoft/java-debug/pull/106/files.
@rotemso Could you have a try?

[2017-12-09 08:09] testforstephen commented on #120
Just ignore the PR, the code has been merged to the master branch. Using latest master branch is OK.
The code will be shipped with 0.5.0. Of course, you can verify after 0.5.0 is released.

[2017-12-18 09:46] offer8 commented on #120
Verified with master branch and the issue is now resolved for us.

[2017-12-18 12:00] #120 closed

[2017-12-18 12:02] offer8 opened #134 ""continue" response sent after the following "stopped" event - should be opposite"
1. Put 2 breakpoints (e.g lines: 28, 38) in Java method
2. Stopped a the first breakpoint - OK as expected
3. Sent "resume" command
4. Sometimes the "continue" response sent after the following "stopped" event - so our debugger client doesn't stopped at second breakpoint.

Following is the log:
2017-12-18T13:38:53.48+0200 [APP/PROC/WEB/0]ERR {"command":"continue","type":"request","seq":"17","argum

[2017-12-19 01:40] testforstephen commented on #134
I tried on VSCode, the order of sending the StoppedEvent and ContinueResponse doesn't matter.
DA sequences `[ContinueRequest, StoppedEvent, ContinueResponse]` and `[ContinueRequest, ContinueResponse, StoppEvent]` both work.

What debugger client are you using?

[2017-12-19 01:47] testforstephen commented on #134
For logger issue, it's the log handler to control where to print the log. Can you share your Log Handler implementation (a class extends `java.util.logging.Handler`)?

[2017-12-19 07:02] rotemso commented on #134
We are implementing our own client on top of your debugger core.

If the order of response doesn't matter - on what should we rely in our client in order to perform the resume operation in the UI?
Currently we rely on successful response of 'continue' in order to reflect the operation to the user (as no 'continued' event is sent).
As we want to reflect the user the real status of the debugee appli

[2017-12-19 08:19] #80 closed

[2017-12-20 03:13] andxu opened #139 "[Perf] Perf issue of program which has constant output."
<pre>
package test;
public class App {
    public void test() {
       System.out.println("xx");
    }
    public static void main(String args[]) throws Exception {

        while(true) {
            new App().test();
            Thread.yield();
        }
    }
}
</pre>
When it is running, it is very slow to be able to set a breakpoint at "System.out.println("xx");"

[2017-12-21 03:15] testforstephen commented on #77
The java-debug jars has been published to sonatype nexus repository manager successfully (https://oss.sonatype.org/content/groups/public/com/microsoft/java/). Now you just need add the following dependency in your pom.xml to use java debug core.
[code]

@smarter @fbricon @rotemso fyi

[2017-12-21 03:15] #77 closed

[2017-12-21 03:21] testforstephen commented on #50
The java bindings are placed at the package `com.microsoft.java.debug.core.protocol` of com.microsoft.java.debug.core.jar.

Now the debug core is on nexus central repository, you can easily to add it as dependency. See the comment from issue   https://github.com/Microsoft/java-debug/issues/77.

[2017-12-21 03:21] #50 closed

[2018-01-05 01:06] andxu commented on #57
https://github.com/Microsoft/java-debug/pull/129

[2018-01-05 01:06] #57 closed

[2018-01-09 15:01] yaohaizh opened #145 "Support build using Java 9 SDK"
The tools.jar is changed in the Java9 SDK because module system.

[2018-03-02 05:59] yaohaizh commented on #79
Close this as this is tracked on the vscode-java-debug side already.

[2018-03-02 05:59] #79 closed

[2018-03-21 14:14] gitorko opened #161 "Error: "Failed to evaluate. Reason: Cannot evaluate because the thread is resumed""
`package com.demo.test.helloworld;
import java.util.Scanner;
import org.springframework.boot.CommandLineRunner;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class DemoApplication implements CommandLineRunner {

	public static void main(String[] args) {
		SpringApplication.run(DemoApplication.c

[2018-03-22 01:35] andxu commented on #161
Vscode has a confusing debug console, when user wants to input something to be read by System.in, the default settings generated by F5 in vscode doesn't work, see the following snapshot:

![image](https://user-images.githubusercontent.com/17075863/37746062-4b4e9fce-2db3-11e8-82b0-681ba6adc7d3.png)
The text marked by red circle doesn't mean the input but the evaluate, for example, if I input 1+100,

[2018-03-22 01:37] andxu commented on #109
https://github.com/Microsoft/java-debug/issues/161

[2018-03-22 01:37] andxu commented on #161
Dup as 109

[2018-03-22 01:37] #161 closed

[2018-03-22 11:09] deed02392 commented on #21
I had this error.

To repro: install the Java Extension Pack. Create a new maven generate archetype - select folder - choose maven-archetype-quickstart.

Provide groupid etc in the PowerShell console.

It generates the package and class `App`.

Try to debug (Launch) the App class - not unique error.

I worked around this by renaming `App` file and class (obviously) to `Applol`.

[2018-03-23 01:44] andxu commented on #21
The bug for 'Main' isn't unique in the workspace still happens, reopen it

[2018-04-25 03:42] andxu commented on #145
Jdt.ls already supports jdk 9/10

[2018-04-28 11:09] daniel19801 opened #176 "shark"

[2018-04-28 14:32] #176 closed

[2018-05-23 05:42] testforstephen commented on #145
The issue still exists at debug.core. It's about tools.jar dependency.

[2018-06-14 05:47] gengu opened #182 "How tu debug this plugin?"
You said

"It works with Eclipse JDT Language Server as an add-on to provide debug functionalities."

could you tell me how to run this plugin in terminal ?

step1
[code]

And then ? how do I add-on debug-plugin to OSGI Process ？

[2018-06-14 07:27] Eskibear opened #183 ".project .classpath files everywhere"
Once I open a java project, the VSCode extensions start to produce a HUGE number of  `.project` and `.classpath` files everywhere.  They really mess my project folder up. Can you just stop generating them or at least put them aside?

[2018-06-15 07:50] Eskibear commented on #183
Forgot to say `.settings/` folder and `bin` folder

[2018-06-19 04:31] andxu commented on #21
I will collect this kind of error in telemetry later.

[2018-06-26 09:18] gengu opened #185 "org.eclipse.jdt.core.prefs"
Could you tell me When did this setting occur?
How to set this default value from 1.5 to 1.8?

![image](https://user-images.githubusercontent.com/6317176/41901903-b4f99cc4-7964-11e8-824d-43f2372b249d.png)

[2018-06-26 09:23] testforstephen commented on #185
What's your project type?

For maven, it's parsed from the pom.xml.
[code]

[2018-07-03 01:45] gengu commented on #185
How could I change the version automatic , If I don't use this compiler  plugin？

[2018-07-04 01:31] testforstephen commented on #185
The recommended way is using maven or gradle to compile your project. Currently we don't support other ways to change java target version. See the similar issue https://github.com/redhat-developer/vscode-java/issues/151 .

[2018-07-04 01:31] #185 closed

[2018-07-12 19:24] fbricon opened #188 "Publish java-debug as a p2 repo"
... so it can easily be consumed by Eclipse based products.

Here's an example of a tycho based project to publish the java-debug plugin to a standalone p2 repo:
[java-debug-repo.zip](https://github.com/Microsoft/java-debug/files/2189968/java-debug-repo.zip)

If the p2 repo was built as part of the java-debug project. then the category.xml would declare
`<bundle id="com.microsoft.java.debug.plugin

[2018-07-18 13:59] gengu opened #189 "How to Set a Object veriable?"
RT

as I see, this project can only set double/int/boolean... veriable

when will you support Double/Integer/Boolean etc ?

[2018-07-23 11:23] gengu commented on #189
Thank you !

I am looking forward to this feature.

[2018-07-23 11:23] #189 closed

[2018-08-01 06:26] testforstephen opened #193 "[Mac OSX] The plugin build failed at jdk 10"
See the travis ci log, the plugin throws lots of compilation error at the jdk 10 of Mac OSX.
https://travis-ci.org/Microsoft/java-debug/jobs/410653269

[2018-08-01 07:55] testforstephen commented on #193
Fixed with PR https://github.com/Microsoft/java-debug/pull/194

[2018-08-01 07:55] #193 closed

[2018-08-02 09:15] testforstephen commented on #188
The p2 artifacts has been published to bintray server.

The latest p2 site: https://dl.bintray.com/vscjavaci/javadebug/
The history p2 site: https://dl.bintray.com/vscjavaci/javadebug/releases/0.11.0/

[2018-08-02 09:15] #188 closed

[2018-08-03 11:09] asicfr opened #197 "Question on StepEvent in multi-thread app"
It's not an issue but a question.

I'm using your great project and **DebugSession** to debug my webapp powered by Tomcat.
Thanks to **EventHub**, i get a lot of **StepEvent** on the "main" thread where Tomcat runs.
But when I send an http request to my webapp / tomcat, i capture **MethodEntryEvent** for example but i do not capture any **StepEvent** on my code.
Is there anything I missed ?
Why i

[2018-08-06 07:16] testforstephen commented on #197
@asicfr How did you leverage the debugger? Are you just using `com.microsoft.java.debug.core`?

Back to your question, you need make your program stopping at a breakpoint, then step into/over/out the stack frame, in that case the **StepEvent** will be captured.

[2018-08-06 07:35] asicfr commented on #197
@testforstephen I use that class : [Attach class](https://github.com/asicfr/cartographieApplication2/blob/master/applicationCarto/src/main/java/com/carto/applicarto/ConnectAndMonitorExternalAppJavaDebug.java)

[2018-08-06 08:15] asicfr commented on #197
@testforstephen
I surely missed something but when i use DebugSession on a single thread application, i can capture StepEvent without any breakpoint.
Why i cannot do that on a multi-thread application ?

My project is to use Jpda and StepEvent to trace the execute flow of an application.

Thanks

[2018-08-06 08:54] testforstephen commented on #197
You can have a try with `threadStartRequest.setSuspendPolicy(EventRequest.EVENT_THREAD);`

[2018-08-06 08:59] asicfr commented on #197
Ok, thanks you very much ... i will try.
Bye

[2018-08-06 08:59] #197 closed

[2018-08-07 08:58] testforstephen opened #200 "NPE exception for CompletionsProvider"
[code]

[2018-08-15 08:39] testforstephen commented on #200
closed with commit https://github.com/Microsoft/java-debug/commit/4e6e62b9ec6569950d086dcd05c14f09c527eb4a

[2018-08-15 08:39] #200 closed

[2018-08-21 04:48] gengu opened #209 "Watchs Expression"
![image](https://user-images.githubusercontent.com/6317176/44380641-13e38280-a53f-11e8-8311-efd8ce623d5c.png)

What caused this exception  "Cannot evalution expression because of java.lang.RuntimeException: Evaluations must contain either an expression or a block of well-formed statements." ？

[2018-08-21 05:33] andxu commented on #209
We leverage the eclipse code for evaluation but unfortunately there are some bugs in eclipse we inherited:
![image](https://user-images.githubusercontent.com/17075863/44382237-c9660400-a546-11e8-8cd1-0223d9ee140d.png)

[2018-08-21 05:34] andxu commented on #209
Please use
[code]

[2018-08-21 05:36] gengu commented on #209
six six six !

[2018-08-21 10:01] #209 closed

[2018-08-31 05:31] #85 closed

[2018-08-31 05:32] #55 closed

[2018-08-31 05:34] andxu commented on #21
DUP as https://github.com/Microsoft/vscode-java-debug/issues/331

[2018-08-31 05:34] #21 closed

[2018-09-02 05:11] Eskibear commented on #183
I've opened another issue here https://github.com/redhat-developer/vscode-java/issues/618

[2018-09-19 11:36] testforstephen commented on #134
this issue is fixed in 0.13.0.

[2018-09-19 11:36] #134 closed

[2018-09-21 06:04] gengu opened #229 "Ask a question."
In VsCode，I open a Java SpringBoot Project,
I am modifying and saving a piece of code at any time will cause the class file to be replaced.

![image](https://user-images.githubusercontent.com/6317176/45863062-112ab600-bda7-11e8-8bd8-2f461faa722d.png)

I just want to know how it works ？Is it caused by lsp4j textDocument/didSave?

[2018-09-21 06:54] testforstephen commented on #229
modify -> `textDocument/didChange`
save -> `textDocument/didSave`

[2018-09-21 07:55] gengu commented on #229
textDocument/didSave does not seem to work .

I want to know how to implement classes that automatically compile changes？

[2018-09-21 08:12] testforstephen commented on #229
It's the eclipse.jdt.ls project to handle the auto compilation, i suggest you have a look at the source code there. https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/DocumentLifeCycleHandler.java#L204

[2018-09-21 14:40] yaohaizh commented on #229
@gnegu, you need enable auto building for your work.  Refer https://github.com/eclipse/eclipse.jdt.ls/blob/c0656fc1230be7f77202238cac61f1f6cd4b74a1/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/managers/ProjectsManager.java for enable this value.

[2018-09-25 03:58] gengu commented on #229
I think , you said the settings
[code]

Actually , I set it to true, then I save a file does not appear to take effect.

[2018-09-25 04:51] yaohaizh commented on #229
setting.json:

[code]

[2018-09-25 06:40] gengu commented on #229
https://github.com/eclipse/eclipse.jdt.ls/blob/v0.25.0/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/InitHandler.java#L220

Looks like it was written to false stable.

[2018-09-28 11:42] ladixiu opened #234 "when use mvn clean ,then suffering thing appear、"

[2018-09-29 06:42] testforstephen commented on #234
@ladixiu another way is to build manually with vscode command `Java: Force Java compilation`

[2018-09-30 01:47] ladixiu commented on #234
@testforstephen   mvn 的profile在哪里指定？
![image](https://user-images.githubusercontent.com/43605070/46252065-d820ce80-c495-11e8-8135-4153ae83a0c7.png)
这里配置了也不求管用

[2018-10-10 08:30] testforstephen commented on #234
@ladixiu Reference the link https://maven.apache.org/guides/introduction/introduction-to-profiles.html, you could configure profile in pom.xml

[2018-11-27 16:34] googlomooglo opened #242 "Debug adapter process has terminated unexpectedly (read ECONNRESET)"
Java debugger randomly terminates when debut attach with the following error:
Debug adapter process has terminated unexpectedly (read ECONNRESET)

The following is the logs from the dev tools console:
notificationsAlerts.ts:40 Debug adapter process has terminated unexpectedly (read ECONNRESET)
t.onDidNotificationChange @ notificationsAlerts.ts:40
(anonymous) @ notificationsAlerts.ts:26
e.fire @ ev

[2018-12-20 00:06] puremourning opened #251 "runInTerminal reverse-request missing cwd key"
According to the DAP specification, the `cwd` key in the `runInTerminal` request is mandatory.

https://microsoft.github.io/debug-adapter-protocol/specification#Reverse_Requests_RunInTerminal

however, the java debug server sends the request without this key:

[code]

of course, clients could work around this, but it would be nice for the server to include the required parameter.

[2019-01-03 09:21] negiDharmendra opened #252 "Failed to attach to remote debuggee VM."
We have a vscode extension for [Gauge](https://gauge.org/)`(is a free and open source test automation framework.)`
While debugging the Java test, we programmatically make a connection with the process being debugged from our [Gauge vscode extention](https://marketplace.visualstudio.com/items?itemName=getgauge.gauge).

We are able to debug once in a given session. With consecutive debugging, we are

[2019-01-03 14:19] yaohaizh commented on #252
How to setup the java debug with the gauge extension? Any sample or document for this? @jdneo for test integration with java debugger.

[2019-01-04 02:02] jdneo commented on #252
Hi @negiDharmendra,

If you want to programmatically attach to the Java Debugger, you need to set a timeout to wait for the JVM to get ready to be attached, for example, 500ms: https://github.com/Microsoft/vscode-java-test/blob/b671d2d8e32eeb99e19187358989d73ebc00284a/src/runners/baseRunner/BaseRunner.ts#L98-L107

[2019-01-04 04:56] negiDharmendra commented on #252
Hi @yaohaizh,

Please refer to [this document](https://docs.gauge.org/latest/installation.html#installation) for `Gauge` installation. In order to setup [Gauge java](https://github.com/getgauge/gauge-java) with [Gauge VsCode extension ](https://github.com/getgauge/gauge-vscode)we will have to build package from there respective branch `vscode_java_debug_support` as they are not released yet.

How

[2019-01-04 10:49] negiDharmendra commented on #252
@jdneo Thanks for the help. This issue has been resolved.

[2019-01-04 10:49] #252 closed

[2019-02-14 08:50] testforstephen commented on #242
@googlomooglo could you share the reproduce steps for us to investigation?

[2019-02-14 08:57] testforstephen commented on #251
@puremourning Follow the code https://github.com/Microsoft/java-debug/blob/master/com.microsoft.java.debug.core/src/main/java/com/microsoft/java/debug/core/adapter/handler/LaunchWithDebuggingDelegate.java#L75, actually the java debug server will send `cwd` key from launch.json to the client.

How did you use java debug server? `VS Code Debugger for Java` extension or self implemented debugger?

[2019-02-16 10:07] yaohaizh commented on #183
Close this issue since it is already tracked by vscode java.

[2019-02-16 10:07] #183 closed

[2019-03-18 06:51] cshung opened #259 "Could not load source '': SourceRequest: property 'sourceReference' is missing, null, or empty."
Cannot load source code during Java debugging in a certain scenario.

##### Environment
- Operating System: OSX
- JDK version: 1.8.0_201
- Visual Studio Code version: 1.30.2
- Java extension version:0.6.0
- Java Debugger extension version:0.17.0

##### Steps To Reproduce
1. Clone and build the google closure compiler at https://github.com/google/closure-compiler
2. Set a breakpoint at src/com/goog

[2019-03-18 07:43] testforstephen commented on #259
@cshung Reference [Debug Adapter Protocol](https://microsoft.github.io/debug-adapter-protocol/specification#Types_Source), we set sourceReference to `0` by design. Because if the debugger is able to find the right source mapping, it will set it to the `path` field of `Source` object, then VS Code will find the appropriate editor to open the uri. (Use text editor to open file://xyz uri, and jdt con

[2019-03-18 07:52] testforstephen commented on #259
To help us investigate your issue, could you change vscode user settings `"java.debug.logLevel": "verbose"`?

After that, start debugging and debug protocol data will be logged. The log can be viewed by the vscode command `Java: Open Java Language Server log file`. And share us the log file.

[2019-03-18 14:38] cshung commented on #259
[log.txt](https://github.com/Microsoft/java-debug/files/2978714/log.txt)

[2019-03-18 14:57] testforstephen commented on #259
`"source":{"name":"PeepholeCollectPropertyAssignments.java","path":"./src/com/google/javascript/jscomp/PeepholeCollectPropertyAssignments.java","sourceReference":0}`

it looks like vscode doesn't support relative path in the source.path field. Did you manually configure `sourcePaths` to a relative path `./src` in launch.json?

[2019-03-18 20:39] cshung commented on #259
Yes, I did set a relative path in my [launch.json](https://github.com/cshung/closure-compiler/blob/bef2aba09e85b000aa4d5c1fe88a27406ff1905d/.vscode/launch.json#L14).
Once I change it into an absolute path it works, although I think we should handle relative path though.

[2019-03-19 01:35] testforstephen commented on #259
Yeah, we can improve it by appending `workspaceFolder` as the prefix if a relative path is found.

Currently, you can specify `"sourcePaths": ["${workspaceFolder}/src"]` as a workaround.

[2019-05-17 08:15] bsaby opened #273 "Cannot stop the debugging process automatically"
### Environment:
OS: Windows
JDK: 8
Java Test Runner Extension: 0.16.0

### Repro steps:
1. Open a test project in vscode
2. Debug test

### Result:
Cannot actively stop the debugging process after running test
![image](https://user-images.githubusercontent.com/22470312/57913185-a3477780-78be-11e9-9bde-4000def7face.png)

[2019-05-20 05:44] jdneo commented on #273
This can be reproduced in attach mode

[2019-05-20 07:03] #273 closed

[2019-06-12 11:51] tom-shan opened #279 "[performance] should break out the while loop"
https://github.com/microsoft/java-debug/blob/master/com.microsoft.java.debug.core/src/main/java/com/microsoft/java/debug/core/adapter/handler/AbstractDisconnectRequestHandler.java#L73-L94
Now it will costs about 5 seconds in the destroyLaunchFiles function, maybe there should have a break statement if no IOException catched in each loop for better performance.

[2019-06-12 12:32] testforstephen commented on #279
nice finding.

[2019-06-12 12:42] testforstephen commented on #279
@tom-shan Could you help make a pull request?

[2019-06-14 06:48] #279 closed

[2019-07-03 06:48] marek1840 opened #286 "Server thread blocks until the client disconnects"
The `run` method in `AbstractProtocolServer` is blocking the thread on this line: [AbstractProtocolServer:92](https://github.com/microsoft/java-debug/blob/master/com.microsoft.java.debug.core/src/main/java/com/microsoft/java/debug/core/protocol/AbstractProtocolServer.java#L92)

In my case, I may have to close the Debug Server in the middle of debugging while the whole application (within which the

[2019-07-03 07:47] testforstephen commented on #286
How about sending a `disconnect` request to debug server when you want to proactively shut off the debugger ahead of time? It's more clean and consistent with the debug protocol design.

[2019-07-03 08:56] marek1840 commented on #286
Indeed it does work and is cleaner, thanks :)

[2019-07-03 08:56] #286 closed

[2019-08-30 08:47] EdisonLinXxx opened #295 "Failed to launch debuggee in terminal. Reason: com.sun.jdi.connect.TransportTimeoutException"
![image](https://user-images.githubusercontent.com/42260799/64006881-c0d6df00-cb45-11e9-9442-c407a2a2c863.png)
it maybe a bug,please fix quickly and i use 0.20.0 is ok!!!

[2019-10-14 09:06] jdneo opened #303 "Do not automatically add "-m" before the main class arg"
I have a launch configuration, which has a main class in classpath, and dependencies in module path.

When I launch it in VS Code, it fails because the debugger automatically add "-m" before the main class arg.

[2019-10-15 03:06] #303 closed

[2019-10-15 03:10] testforstephen commented on #295
We have addressed some update to mitigate this issue, could you verify whether to reproduce it in the latest 0.22.0 version? Thanks.

[2019-11-03 09:35] sayederfanarefin commented on #295
Same problem here on windows. It tries to copy a file named "cp_6xyj72ckmfd8oe8gpliu2etse.jar" from temp. The file is not there and I think it is failing because of that. Need a solution.
![vscodeerror1](https://user-images.githubusercontent.com/7608931/68082449-80fcd400-fde2-11e9-955f-5d52d174108b.PNG)
![Uploading vscodeerror2.PNG…]()

[2019-11-03 09:35] sayederfanarefin commented on #295
Same problem here on windows. It tries to copy a file named "cp_6xyj72ckmfd8oe8gpliu2etse.jar" from temp. The file is not there and I think it is failing because of that. Need a solution.
![vscodeerror1](https://user-images.githubusercontent.com/7608931/68082449-80fcd400-fde2-11e9-955f-5d52d174108b.PNG)
![vscodeerror2](https://user-images.githubusercontent.com/7608931/68082451-84905b00-fde2-11e9-8

[2019-11-04 01:55] testforstephen commented on #295
Your user name contains white space, it duplicates with https://github.com/microsoft/vscode-java-debug/issues/678

[2019-11-04 05:44] sayederfanarefin commented on #295
@testforstephen Thanks man. I changed to powershell and problem solved!

[2019-12-19 15:35] z00420691 opened #312 "how to use this plugin?"
Hi, I am new to this.  I wonder if this plugin can run in an indepedent process or it has to run with debugger?

best regards

[2019-12-20 03:42] akaroml commented on #312
Thanks for asking.

In short, press F5 and you'll start to debug your current program.
Please refer to the documentation for more details:
https://github.com/microsoft/vscode-java-debug#use

[2019-12-20 03:42] #312 closed

[2019-12-20 03:43] #295 closed

[2020-01-22 16:29] dradtke opened #316 "setBreakpoints request before launch fails with "Empty debug session""
According to the diagram shown [here](https://microsoft.github.io/debug-adapter-protocol/overview), the order of requests the client should make looks like this:

1. `initialize`
2. Any number of `setBreakpoints` or similar calls
3. `launch`

I'm experimenting with building a Debug Adapter Protocol plugin for vim, and so far I've been able to successfully begin the debug server via the `vscode.jav

[2020-02-04 14:30] LeKirby opened #318 "SetBreakpointsRequestHandler fails when supplied path is using forward slashes"
**Description**
When a DAP (debug adapter protocol) client sends a `setBreakpoints` request with a path that contains forward slashes the breakpoint is not set.
The server also (wrongfully?) reports back that the command was executed successfully.

**Observed behavior**
The code runs without halting at the breakpoint.

**Expected behavior**
The program should halt at the breakpoint and send a `bre

[2020-02-05 19:01] dradtke commented on #316
Any updates on this?

[2020-02-07 03:16] akaroml commented on #318
@testforstephen please take a look.

[2020-02-07 03:18] akaroml commented on #316
Thanks for reaching out @dradtke. We'll be able to provide an answer next week.

[2020-02-10 07:46] testforstephen commented on #316
The diagram you shared is just a sample sequence for gdb, it isn't applied to the java implementation.

The key point to determine when to deal with setBreakpoints request is `InitializedEvent`, see the [DAP protocol](https://microsoft.github.io/debug-adapter-protocol/specification#Events_Initialized). This event indicates that the debugger is ready to accept configuration requests (e.g. SetBreakp

[2020-02-10 07:46] #316 closed

[2020-03-20 08:20] devsheder opened #324 "Live Share debugging not working for client"
Hi !
I've noticed that we can't share debugging with clients during a live share session.
I'm using the latest version of Vs Code `1.43.1`

Here is the vs code extensions I use :
- Language Support for Java(TM) by Red Hat
- Debugger for JavaPreview
- Live Share Extension PackPreview : with setting `"liveshare.allowGuestDebugControl": true`

How to reproduce :
- start a live share session
- invite

[2020-03-23 05:44] testforstephen commented on #324
What do you mean by "Run launcher from Vs Code"?

Is that the codelens above the main method?
![image](https://user-images.githubusercontent.com/14052197/77285268-90d27180-6d0b-11ea-8d44-7c7c4f20d3da.png)

Or Run in debug viewlet?
![image](https://user-images.githubusercontent.com/14052197/77285343-b3fd2100-6d0b-11ea-8d2b-b8089e611631.png)

However, i tried both ways and here is what i saw.
When i

[2020-03-23 09:07] testforstephen commented on #318
Need find a better approach to detect whether the source path string represents a real file path or uri.

[2020-03-25 13:56] devsheder commented on #324
Hi,
yes I was talking about `Run in debug viewlet`.
I'll try with the codelens one and will get back to you.
Thanks !

[2020-03-26 08:17] devsheder commented on #324
Hi,
I think the problem is about my Mac Book Pro because two coworkers managed to share debug during a live share session.
I have no explanation....

[2020-04-12 03:29] qinlinwang opened #328 "can not debugging external files"
when i debug, i can not debugging external files, even though i have user contex menu "attach source" to add third party source jars;
in Call Stack, there are a lot of classes is "Unknown Source", but i have  "attach source"  to vscode. Please help me. Thanks!

[2020-04-14 15:47] spiritelf opened #329 "import spring-boot project，can‘t start"
![image](https://user-images.githubusercontent.com/8556186/79245066-2fd13000-7eaa-11ea-8cba-65b9b9e1be21.png)

have no error？

[2020-04-16 09:03] testforstephen commented on #329
duplicated with https://github.com/microsoft/vscode-java-debug/issues/792

[2020-04-16 09:03] #329 closed

[2020-04-25 12:50] mfussenegger opened #330 "Breakpoint / frame is off by 1"
I'm currently writing a [plugin for neovim](https://github.com/mfussenegger/nvim-dap) to add support for the debug adapter protocol and it seems to me that breakpoints are somehow interpreted wrong on the server side.

**java-debug version**: from master, commit `020721988021fcc3c01dd5d9006ff272ee010cec`

For example here:

<details>
  <summary>screenshot of breakpoint at println that is already e

[2020-04-26 01:43] testforstephen commented on #330
{
  arguments = {
    adapterID = "nvim-dap",
    clientId = "neovim",
    clientname = "neovim",
    columnsStartAt1 = true,
    locale = "en_US.UTF-8",
    pathFormat = "path",
    supportsRunInTerminalRequest = true
  },
  command = "initialize",
  seq = 0,
  type = "request"
}

Apparently you didn't set linesStartAt1 to true. By default, the line will start with 0.

[2020-04-26 01:43] #330 closed

[2020-04-26 11:06] mfussenegger commented on #330
That's true and I can confirm that setting it explicitly solves the issue, but according [to the spec](https://microsoft.github.io/debug-adapter-protocol/specification#Requests_Initialize), the default should be true anyhow:

[code]

So seems like java-debug is setting the wrong default?

[2020-05-05 12:30] jprenaudet opened #331 "Support wildcard in sourcePaths"
I have a lot of folders to define in the debug option "sourcePaths", like :
- "${workspaceFolder}/src/plugin/Plugin1/src/java"
- "${workspaceFolder}/src/plugin/Plugin2/src/java"
- ...

Is it possible to support wildcard, so I can define only 1 line :
- "${workspaceFolder}/src/plugin/*/src/java"

Thanks !

[2020-05-11 09:50] abiskop commented on #324
For me, `"liveshare.allowGuestCommandControl": true` actually worked (as opposed to `"liveshare.languages.allowGuestCommandControl": true`, which the config UI generates), contrary to the highlighting in the JSON config editor which says that this setting does not exist.

[2020-06-24 11:06] Urfoex opened #337 "NumericFormatter should be able to format double correctly. expected:<111[.]000000> but was:<111[,]000000>"
[code]

Probably having something to do with my system not being en_US

[2020-06-24 11:08] Urfoex commented on #337
`$ LANG=C ./mvnw clean install`
Lets it run through without that problem.

[2020-06-28 06:17] testforstephen commented on #328
After you attached source, are you able to jump the corresponding source with "Go to Definition" feature?

[2020-06-28 06:29] testforstephen commented on #337
The encoding is supposed to be UTF-8.

Cannot reproduce it, i have no idea what's wrong in your environment. Could you debug it to see which part of code the error comes from?

[2020-07-18 08:16] qinlinwang commented on #328
The problem is that:  when i click "Go to Definition" menu, it only open the interface, but not open the real class.
For example， when i "Go to Definition" of  task.run(), it only open Runnable.run(), but not open the SocketProcessorBase.run() which is implement of Runnable.run(). In this case i have no chance to attach source of SocketProcessorBase.
<img width="795" alt="微信图片_20200718160950" src=

[2020-07-20 01:29] testforstephen commented on #328
When you click task.run(), it's definition is exactly the Runnable.run(). Please use "Go to Implementations" if you want to find the implementation.

[2020-07-22 16:35] dradtke opened #343 "evaluate: Error result is truncated"
When an `evaluate` request fails due to an error in the code being evaluated, the language server reports an unhelpful truncated message:

[code]

Is there any way to get the full error message?

[2020-07-26 05:29] qinlinwang commented on #328
When i use "Go to Implementations", it does find all of the subclass including 'SocketProcessorBase' class. Although there are many subclasses of Runnable, i find the  'SocketProcessorBase'  finally.  And the following problems are:
1. when i debug next time, it can not find the source again.
2. More often， when i want to debug upper class in call stack， for example “ServletInvocableHandlerMethod.

[2020-07-27 01:37] testforstephen commented on #343
Can you share the evaluation snippet and it's context? Try to understand how to improve the error message.

[2020-07-27 06:26] testforstephen commented on #328
Generally when you are debugging maven dependencies, Java extension will automatically download the maven source. And when the source is ready, then the debugger should be able to find them automatically.

Would you mind sharing a sample project to help us reproduce the issue? Thanks!

[2020-08-09 15:31] qinlinwang commented on #328
Of course, this is my project. Thanks.
[firstWebSrpingBoot.zip](https://github.com/microsoft/java-debug/files/5047859/firstWebSrpingBoot.zip)

[2020-09-17 14:51] p00f opened #351 "Build fails : Cannot resolve project dependencies"
I get
[code]

when i run `./mvnw clean install`

OS: arch linux

[2020-09-17 14:51] p00f commented on #351
OS: arch linux

[2020-09-18 21:37] dassio commented on #259
for the `jdt://` uri,  if a thrid party  debugger want to get the content, they also need to support  LSP  protocol besides the DAP protocol, it would be really nice if we can remove this restriction :

if the uri is `jdt://`, we send back an `sourceReference` like 1 and let the dbugger  get the content using the `sourceRequest` command

[2020-09-19 10:59] puremourning commented on #259
as @dassio says, sending a URI in the `path` field is a breach of the protocol when `pathFormat` is not `uri`:

[code]

It would be preferable and more portable and compliant for the DA to implement the `source` request and return the disassembled source that way, rather than relying on third-party integration of a DAP client and an LSP client (where there may be MxN integrations required).

Shoul

[2020-09-21 09:46] testforstephen commented on #259
From the perspective of integration, making the debugger to return the contents will bring some new problem. One challenge is the language features won't work in the contents returned by debugger.

Maybe we can add a switch (e.g. `vmArgs=-DsourceRequest=true`) to control whether to adopt the source request in the debugger.

[2020-09-21 10:34] puremourning commented on #259
Maybe just check whether the client requested files or URIs. It's not valid to return a URI in the source `path` field if `pathFormat` is not `uri`. If the client requested URIs, return `sourceReference 0` and the custom JDT URI, otherwise supply `sourceReference` and use the `source` request.

you mean like go-to-definition and such like ? is this somehow related to the custom "hot code reload" c

[2020-09-21 11:35] testforstephen commented on #259
VS Code client sends `pathFormat` to `path`, but accepts customized uri format at the source.path segment. Maybe it's a VS Code bug. Unless it's fixed, otherwise we didn't want to break the current behavior for VS Code Java Debugger.

Yes, all language features such as go to definition, javadoc are supposed to work when you're actually debugging the code. That's why the debugger delegates the bina

[2020-09-21 13:43] puremourning commented on #259
Ugh. de facto.

Is there some way that the vscode-java extension could indicated to you that it does this/supports this out-of-protocol behaviour? That way the default behaviour can be in-protocol ?

The problem is that outside of vscode there's no guarantee (or likelihood) that the DAP client and the LSP client are in any way related - they are totally different things. I realise that the java de

[2020-09-21 14:23] testforstephen commented on #259
I got your point, but this repo is not a standalone project.

This repo contains two components `debug.core` and `debug.plugin`.
- `debug.core` is neutral and reusable for others. It's used to adapt the JDI(Java Debug Interface) to the DAP protocol, and doesn't depend on any jdt logic. The advanced features such as source mapping and evaluation are delegated to the provider interfaces such as `ISo

[2020-09-21 14:26] dassio commented on #259
this seems like an easier way without breaking or the need of synchronizing with the vscode-java project

[2020-09-21 14:33] dassio commented on #259
i don't think this is  what @puremourning means, vscode is running vscode-java(LSP client) and vscode-java-debug(DAP client) together,  @puremourning  only want to run the  vscode-java-debug alone  without the LSP client(vscode-java).

it is fine to have the `debug.core`  and `debug-plugin` running together as the DAP server

[2020-09-21 14:45] puremourning commented on #259
well sure, if the best we can get is a command line argument when starting jdt.ls, then I guess we can ask the LSP client authors to work with that. There's already enough hacking to ask the LSP client to start the debug adapter and provide a port.

Would it be possible for the `startDebugSession` to take some sort of argument, rather than a command line option?

I feel like if I have to implement

[2020-09-21 17:40] cshung commented on #259
Thank you for all the recent activities on this PR. This was 493 days ago, I already forgot what I did. I think I was experimenting with the closure compiler just to realize the debugger wasn't quite working as I expected, so I dug and 'fixed' it just to realize a very simple workaround existed for me.

Let me know if there is something I can contribute on, I would be happy to do so.

[2020-09-30 17:24] puremourning commented on #251
Thanks

Is that a mandatory launch parameter ? The adapter seems to work fine without it and the docs for vscode suggest it's optional:  "cwd - The working directory of the program. Defaults to ${workspaceFolder}."

I guess the vscode-java plugin always sets it ? Is there a specification for the arguments accepted/required by this adapter when not using vscode-java ?

In [Vimspector](https://githu

[2020-10-09 08:53] testforstephen commented on #351
What java version you used to run the maven command? It's supposed to use JDK 11 to run it.

[2020-10-09 09:22] p00f commented on #351
I used jdk 14 but I suppose @mfussenegger has built it using jdk 14?

[2020-10-10 06:01] p00f commented on #351
Thanks and sorry, I could build it successfully using jdk 11

[2020-10-10 06:01] #351 closed

[2020-10-20 14:14] codeict commented on #324
I came across this same issue today in `1.50.1` running on Ubuntu:
(The debugging session(`F5`) was started by the client on the right, yet only the server on the left sees the debug options)
(I faced this issue while doing the live session with a remote user, reproduced it locally after that)
![image](https://user-images.githubusercontent.com/37595244/96597673-b9573400-130b-11eb-9cab-29cf8e964be2

[2020-10-21 10:59] testforstephen commented on #324
@codeict Live Share is provided by another extension, need open an issue at https://github.com/MicrosoftDocs/live-share/issues?q= first to see what's the possible root cause.

[2020-10-21 11:09] codeict commented on #324
Sure, thank you soo much!

[2021-03-19 09:49] testforstephen commented on #188
Since bintray is going to shutdown **May 2021**, do you guys still have projects using the java-debug p2 site? If not, i will stop publishing p2 site.

// cc: @fbricon @svor

[2021-03-19 10:02] fbricon commented on #188
I don't use it, but I *think* it was needed by @svor for using Che at some point.

[2021-03-19 11:34] svor commented on #188
ok to me, we don't use it anymore

[2021-03-19 11:56] testforstephen commented on #188
thank you all for the confirmation. i will stop p2 publishing.

[2021-03-27 19:48] Ricbet opened #365 "Remote debug is so slow"
I think it should be here.
![image](https://user-images.githubusercontent.com/20262815/112732988-3f8d3b80-8f78-11eb-9fb4-3c52f0690545.png)

If there are many threads (e.g 200).
isCollected() and name() will send the command packet to the target vm through JDI and wait for reply.
That would request 200*2 times. I don’t know if it can be optimized

[2021-04-03 01:42] mozhuanzuojing opened #366 "Execute mvn clean install error for java-debug"
# When i execute ***mvn clean install***

Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:3.1.2:copy (get-libs)
on project com.microsoft.java.debug.plugin: Unable to find/resolve artifact.
Failed to read artifact descriptor for com.microsoft.java:com.microsoft.java.debug.core:jar:0.30.1

***

how fix it ?

[2021-04-10 12:55] #366 closed

[2021-04-13 04:38] testforstephen commented on #365
This may cause lots of roundtrip with the debuggee, but it's not the only place that needs to be optimized. The main problem is the underlying JPDA is chatty and not efficient for remote debugging. There is not a good way to solve this problem completely.

At the comment we recommend you to take a look at VS Code remote development support.

[2021-04-20 08:48] dharantejv commented on #295
![image](https://user-images.githubusercontent.com/72353996/115366613-1b252780-a1e3-11eb-975e-195a5cb5b2ef.png)
iam getting this error from last 3days .how can i solve this?

[2021-05-09 21:42] zupatisc opened #375 "Test testToString fails with locale set to de_DE.UTF-8"
Using java 11 I get this when trying to build

`Failed tests:   testToString(com.microsoft.java.debug.core.adapter.formatter.NumericFormatterTest): NumericFormatter should be able to format double correctly. expected:<111[.]000000> but was:<111[,]000000>`
This looks like it could be caused by my locale? It's set to de_DE.UTF-8

Edit: Yes it is caused by my locale, setting `LC_ALL=en_US.UTF-8` make

[2021-06-08 17:11] lhchavez opened #378 "Feature Request: Allow specifying the address when binding to a port"
When opening a Java debugging session in my local machine, I'd prefer to be able to have the TCP port that the debug server will bind to in the loopback interface instead of in all of them, mostly out of paranoia when I'm working on a shared WiFi.

Also (and maybe less interesting to other folks), at replit.com, we detect TCP ports bound to `0.0.0.0` and treat them magically as [web servers](https

[2021-07-25 17:57] mfussenegger opened #381 "Debug adapter gets stuck on setVariable request"
According to the initialize response, the java debug adapter has the `supportsSetVariable` capability.

I tried implementing it for [nvim-dap][nvim-dap] and when I send a `setVariable` request the client doesn't receive any response.

Here is an example log, where I first retrieve the variables, and then use one of them in a `setVariable` request:

[code]

[code]

Afterwards the debug adapter appe

[2021-10-08 02:03] cyrfer opened #388 "many tests failing"
I would like to contribute a feature enhancement to a [related project](https://github.com/cyrfer/vscode-java-debug) that depends on this project.

I just cloned this repo and ran the tests in VS Code Testing interface.

![image](https://user-images.githubusercontent.com/4392990/136486496-e2a80c6c-1f53-48a0-b2cb-4b3f92a0ade9.png)

[2021-10-08 06:19] testforstephen commented on #388
Currently there is issue when running this project in VS Code with JDK 1.8.

A temporary workaround is to make "JavaSE-1.8" to point to JDK 11 in "java.configuration.runtimes" setting.
[code]

Or use the command line "**./mvnw clean verify**" to run test.

[2021-10-08 16:43] cyrfer commented on #388
@testforstephen please provide more info. When I attempt to edit `.vscode/setttings.json` with the key above, I see the following message:

When I try to use `./mvnw clean verify` I see the following:

[code]

I have both 1.8 and 11 installed on my system. 11 is the default JDK.
[code]

The problem also occurs when using `mvn` in the terminal.

This fails:
[code]

This succeeds:
[code]

[2021-10-09 06:51] testforstephen commented on #388
i didn't get errors when running `./mvnw clean verify` in terminal.

Please notice that mvn command line uses JAVA_HOME environment variable to find a JDK. You need to use `./mvnw -v` to check the maven runtime.

[2021-11-23 12:29] dodonut commented on #337
I was having the same issue. I'm from Brazil, and we format the decimal places with a comma. Maybe the formatter is getting some locale options by default, idk. Anyway, I could not find any option to set the locale inside the project, so I changed the test to a comma instead of the dot as the image shows, and it builded fine.
![image](https://user-images.githubusercontent.com/19748045/143024069-0a

[2021-12-02 14:00] mfussenegger commented on #381
Tried this again - now the debug adapter no longer gets stuck but instead returns an error "IllegalArgumentException: SetVariableRequest: Variable x cannot be found". I'm using the `name` property of the `Variable` within the `SetVariableRequest` and provide the `variablesReference`.

Any ideas what's wrong?

[2021-12-02 16:29] #381 closed

[2021-12-12 15:56] Asdas91 commented on #337
It's a locale issue. `NumericFormatter` is formatting double using the machines locale but the test expects the format to be in en_US locale. The problem appears on most European machines.
So either the actual code is is wrong and should not take locale into account or the test is wrong. Either way there's a bug.

[2021-12-23 02:40] #388 closed

[2022-01-17 17:15] abenz1267 opened #394 "'Can not attach to current VM' - works on 1 machine, not on 2 others"
Hi,

I'm currently trying to run this in combination with nvim-jdtls. I'm getting the following error on 2 machines while not on another.

[code]

All 3 machines run Arch Linux and the same Java JDK (openjdk-17). I cannot figure out why it doesn't work on 2/3 machines.

Any pointers eventually?

Regards

[2022-01-18 05:44] abenz1267 commented on #394
fixed it by explicitly adding java runtimes to jdtls

[2022-01-18 05:44] #394 closed

[2022-01-25 22:22] karlvr opened #397 "VM launch failure doesn't report a useful error"
If the VM fails to launch, the error reported to the user is a timeout after 10,000ms rather than an exit status or anything from the stdout or stderr. This makes it very hard to debug launch failures when using the integrated console. If using a terminal, the errors are visible in the terminal.

`AdvancedLaunchingConnector` doesn't notice that the VM process has terminated and instead has to wait

[2022-02-09 14:43] nela commented on #375
I am experiencing the same issue, even though locale is `en_US` and am unable to build the project.

Error message:
[code]

Locale:
[code]

Java Version:
[code]

[2022-03-12 03:06] karlvr commented on #397
I've put together a test project to demonstrate this issue. Please see the attached `.zip`, it contains the following files:

* `.vscode/launch.json`
* `HelloWorld.java`

`.vscode/launch.json`:

[code]

`HelloWorld.java`:

[code]

Note that it's important that the `mainClass` actually exists, and then we add a bad `vmArgs` which causes the `java` executable to exit immediately. The current impleme

[2022-03-13 10:05] adminy opened #400 "Error in calling delegate command handler"
[code]

[2022-03-17 08:36] #397 closed

[2022-03-23 15:27] ChristianChiarulli opened #404 "Tests failing on mac"
I am getting 43 errors in tests and it's failing on:

[code]

My java version is:

[code]

For more context it builds and works fine on Linux.

[2022-03-25 12:58] asmodeus812 opened #405 "Bundle com.microsoft.java.debug.plugin - Missing Constraint: Bundle-RequiredExecutionEnvironment: JavaSE-11"
Hello, I am getting the following error when trying to run mvnw clean install on my machine, i am using jdk 17, and i was unable to find anyone with a similar issue or resolve it myself. Here is the relevant part of the log

`.local/share/nvim/lsp_extensions/java-debug/com.microsoft.java.debug.plugin/pom.xml
[ERROR] Internal error: java.lang.RuntimeException: org.osgi.framework.BundleException: Bu

[2022-03-26 14:04] LudvigHz commented on #405
Downgrading to `0.34.0` seemed to fix this for me.

------
[code]

[2022-04-06 19:24] eakst7 opened #407 "Setting to disable lazy loading from toString()"
PR #401 introduced lazy loading values from toString() methods.

Unfortunately, this can mean a lot of additional clicking necessary to show the desired debug information.  Setting `java.debug.settings.showToString` to false disables the entire feature.  It would be beneficial to disable only the lazy loading.

![image](https://user-images.githubusercontent.com/16217243/162052875-65212e1a-2844-489

[2022-04-13 16:38] swtseaman opened #408 "如何debug调试外包jar包代码"
项目通过maven引用其他的jar包进行开发；在debug的时候需要跟到其他jar里面看情况；
但是跟过去是 class文件，上面写有
 // Failed to get sources. Instead, stub sources have been generated by the disassembler.
 // Implementation of methods is unavailable.

尝试在代码右键  选择 附加源代码，  通过.m2/repository/下找到对应jar文件后，依然没有任何变化

请问应该如何使用

[2022-04-14 00:59] swtseaman commented on #408
版本: 1.66.2
提交: dfd34e8260c270da74b5c2d86d61aee4b6d56977
日期: 2022-04-11T07:47:29.396Z
Electron: 17.2.0
Chromium: 98.0.4758.109
Node.js: 16.13.0
V8: 9.8.177.11-electron.0
OS: Darwin arm64 21.3.0

[2022-04-16 10:54] swtseaman commented on #328
I have encountered the same problem now. Do you have a solution

[2022-04-23 11:57] asmodeus812 commented on #405
@LudvigHz downgrading what to 0.34 ? The language server (jdtls) ? or java-debug ?

[2022-05-09 00:17] lobophf commented on #337
I'm from Brazil too and had the same problem. To solve it, I put the @Ignore annotation above the test testToString().

[2022-05-23 05:35] testforstephen commented on #407
VS Code 1.67.0 has provided such a setting `debug.autoExpandLazyVariables` to allow you to expand the variable full value by default. So closing this issue.

[2022-05-23 05:35] #407 closed

[2022-05-23 05:38] testforstephen commented on #405
@asmodeus812 Coud you try to set your **JAVA_HOME** environment variables to JDK 11? Maven command line tool is based on JAVA_HOME env to find Java executable.

[2022-05-23 05:39] testforstephen commented on #404
pls provide more error info.

[2022-05-23 05:41] testforstephen commented on #400
This looks like an issue in eclipse.jdt.ls, let's use the upstream jdt.ls issue to track it.

[2022-05-23 05:41] #400 closed

[2022-05-23 05:44] testforstephen commented on #408
Duplicate with https://github.com/microsoft/vscode-java-debug/issues/1155

[2022-05-23 05:44] #408 closed

[2022-05-23 19:23] ChristianChiarulli commented on #404
[code]

[2022-05-25 23:18] shale-bw commented on #404
I am running into the same issue with 43 failing tests while building the Debugger Core. Looking at the stack trace for the tests I am also receiving NullPointerExceptions

Java version:
openjdk 11.0.15 2022-04-19

[2022-05-31 15:06] shale-bw commented on #404
I am happy to provide more information as is necessary, please just let me know what you need for this. I have attached some more information about my system preemptively
![Screen Shot 2022-05-31 at 9 06 18 AM](https://user-images.githubusercontent.com/105666481/171206630-409efdff-3a78-4f5b-ae01-9a7689fa8bfd.png)

[2022-06-03 11:50] sa82trip commented on #404
I'm facing same issue on my mac too. 🥲

[2022-06-08 05:21] qianweichun opened #419 "Failed to build on Java 11 or Java 17."
It is Mac OS 12.4, with Oracle Java11 and Java17, to build version 0.37.0, and 0.3x.0s
Error to build on Java 11?
[code]

Error to build on Java 17?
[code]

[2022-06-08 06:05] qianweichun commented on #419
It seems that the reason to fail is that jdt.ls has just moved to Java17.
The work-around is to use maven mirror to point jdt to milestone version, add the following to $HOME/.m2/settings.xml:
[code]

[2022-06-09 12:00] gayanper opened #421 "Add support for chain completions on variables"
Today in breakpoint conditions and debug console you could complete current visible variable. But trying access methods and properties of a variable object doesn't provide completions.

ex: `args.` will not provide length as a completion in the main method breakpoint.

[2022-06-09 12:55] testforstephen commented on #421
It looks like a bug in debugger. The completion is implemented by debugger itself.

https://github.com/microsoft/java-debug/blob/57a98e267c94e9354c51efbc6c9b378215dd1eed/com.microsoft.java.debug.plugin/src/main/java/com/microsoft/java/debug/plugin/internal/CompletionsProvider.java#L73

[2022-06-10 08:49] gayanper opened #422 "Add support for more complex conditions"
Today we support simple conditions in breakpoints. To debug more complex programs some times we need more control over when the breakpoint should be active.
Eclipse has trigger points and IntelliJ has "Disable until hitting the following breakpoint"

So to keep things simple in vscode, but at the same time enable advance debugging features with some effort. Can we look at if it is possible to use

[2022-06-15 13:46] EpsilonKu opened #423 "Error on compile"
I got error when compiling with command `./mvnw clean install`.
Information:
Arch Linux (latest release).
Jdk-11 installed.
Log :
[code]

[2022-06-15 21:30] mozhuanzuojing commented on #423
Should use jdk17

[2022-06-16 02:14] testforstephen commented on #419
Closed with PR https://github.com/microsoft/java-debug/pull/420.

[2022-06-16 02:14] #419 closed

[2022-06-16 02:16] testforstephen commented on #423
Yes, since the upstream eclipse.jdt.ls moved to Java 17 as minimum requirement to compile itself, so java-debug requires JDK 17 to build.

[2022-06-16 02:16] #423 closed

[2022-07-22 17:45] siqueira-gustavo commented on #337
Hi. Not sure if you could sucess with this, but here's what I did. I'm from Brazil too.
First thing you will need to jump to NumericFormatterTest.java file which is in `package com.microsoft.java.debug.core.adapter.formatter;`
Then you will simply set the default locale to US.

Add this line in the setup() method:
`Locale.setDefault(Locale.US);`

Don't forget to import it from java.util
`import ja

[2022-07-27 19:42] robstryker opened #431 "References to launch.json in error messaging may be misleading"
https://github.com/microsoft/java-debug/search?q=launch.json

There appear to be only two references to launch.json in this repository. There does not appear to be any part of the code actually reading or referencing or introspecting a file named launch.json.

End users may find references to launch.json confusing if a third party tool has launched the debugger to connect to a java process and did

[2022-08-01 06:28] sufar opened #432 "Failed to build: The type com.sun.jdi.StackFrame cannot be resolved."
OS: Arch Linux 5.18.14-arch1-1
Jdk: 17.0.3.1
build: ./mvnw clean install
branch: main

The error messages:
[code]

[2022-08-04 15:38] mweisshaupt1988 commented on #375
This affects me too. The test should not assume that the separator for double is '.'

OS:
Ubuntu 20.04

Locale:
env | grep LC
LC_ADDRESS=de_DE.UTF-8
LC_NAME=de_DE.UTF-8
LC_MONETARY=de_DE.UTF-8
LC_PAPER=de_DE.UTF-8
LC_IDENTIFICATION=de_DE.UTF-8
LC_TELEPHONE=de_DE.UTF-8
LC_MEASUREMENT=de_DE.UTF-8
LC_TIME=de_DE.UTF-8
LC_NUMERIC=de_DE.UTF-8

[2022-08-22 06:48] #432 closed

[2022-08-31 00:18] scottrbrtsn commented on #404
Running `./mvnw clean install` threw java version mismatch error for me with java-11.

Tests passed with java 17.

¯\_(ツ)_/¯

[2022-08-31 05:01] ChristianChiarulli commented on #404
yea it works now with 17, so I guess this can be closed

[2022-09-09 09:38] heckerpowered opened #442 "Feature Request: Allow ignore exceptions from specific source"
Some projects (such as games) will use try to catch exceptions in the main loop, which will cause the program to not generate uncaught exceptions, and if it breaks when an exception is caught, this will cause the debugger to break indefinitely (because exceptions are generated all the time and cannot be masked from the specified source)

[2022-09-13 07:49] #337 closed

[2022-09-16 19:02] LDAP opened #444 "Java-Debug is not always conforming the Debugger Adapter Protocol"
- Commands that have `arguments` set to `null` throw an exception:
[code]
    However, commands that do not need arguments, e.g. (`configurationDone`, `threads`) should be able to set arguments to `null` as the Thread Request does not set any restrictions. See [here](https://microsoft.github.io/debug-adapter-protocol/specification#:~:text=%3B%0A%20%20%7D%3B%0A%7D-,Threads%20Request,-The%20request%

[2022-09-20 11:47] zhouyi-u opened #446 "how to send debug command to the dapsession?"
Hi,
  When I sent
 "{
  "command": "vscode.java.startDebugSession"
}" , I got the port "40633",

then I started
"/usr/bin/env /usr/lib/jvm/java-11-openjdk-amd64/bin/java -agentlib:jdwp=transport=dt_socket,server=n,suspend=y,address=localhost:40633 -cp /home/zhouyi/Desktop/debugJava/maven_demo/target/classes com.test.App"
in the console,

I want to send some dap commands. how can I send the command

[2022-09-21 01:28] zhouyi-u commented on #446
This problem was solved by using the DAP Client.

[2022-10-08 05:04] jdneo opened #448 "NPE when stopping JDT.LS"
with `redhat.java@v1.12.2022100704`, when reloading VS Code, errors can be observed in server log

[code]

[2022-10-08 07:29] #448 closed

[2022-10-12 08:39] testforstephen commented on #442
@heckerpowered We have already provided a user setting `java.debug.settings.exceptionBreakpoint.skipClasses` to skip the specified classes when breaking on exceptions. Do you have a try on it?

[2022-10-14 07:08] nairobi02 opened #451 "The build could not read 2 projects -> [Help 1]"
I am using the windows subsystem for linux, on which I cloned the repo using SSH, then did ./mvnw clean install,
I am getting the following errors, I am not able to find a solution for them.

[code]

[2022-10-14 15:16] #451 closed

[2022-10-23 10:38] LinArcX opened #452 "org.apache.maven.InternalErrorException: Internal error: java.lang.RuntimeException: Failed to load p2 repository with ID '202112' from location https://download.eclipse.org/releases/2021-12/202112081000/"
Hello. I wanted to use `java-debug`, so i cloned the repo and issued this command on terminal:
`./mvnw clean install`

It started to download some files, but at the end it throws an error:
[code]

OS: Void linux

[2022-11-07 12:41] puremourning opened #455 "sourcePaths no longer work after #354"
I submitted a detailed review on https://github.com/microsoft/java-debug/pull/354

Essentially it seems that user-specified `sourcePaths` are no longer used when resolving the filesystem path for a file in the stack trace after the above patch. The result is that we always return `jdt://` paths which not all clients know how to handle.

It seems to me that we should always prefer filesystem paths

[2022-11-07 12:48] puremourning commented on #455
One solution might be an option to ask the server to never return a .class file jdt:// path and always return from the sourcePaths or "unknown"

[2022-11-22 06:38] supercow112 opened #460 "Unknown event "processid""
Hello!

I noticed that `LaunchRequestHandler` will [send a message](https://github.com/microsoft/java-debug/blob/791cd97260f204e2cb851e79287881f6d634c1b4/com.microsoft.java.debug.core/src/main/java/com/microsoft/java/debug/core/adapter/handler/LaunchRequestHandler.java#L196) to the client with "event": "processid".

This does not correspond to anything in the DAP specifications. In fact, the only

[2022-11-22 06:47] testforstephen commented on #460
this is a custom event. By default, the client can just ignore it.

[2022-11-22 17:59] supercow112 commented on #460
Thank you!

[2022-11-22 17:59] #460 closed